---
layout: default
title: Volksentscheid Transparenz
metalinks: yes
---

<!-- About -->
<div class="jumbotron fond__yellow ">
  <div class="container-fluid text__black">
    <div class="row">
      <div class="col-lg-3">
        <img
          class="img-responsive"
          src="/static/img/start-illu.svg"
          alt="Volksentscheid Transparenz"
        />
      </div>
      <div class="col-lg-6 col-lg-offset-1">
        <h1>Ein Transparenzgesetz für Berlin!</h1>
        <p>
          Unser Transparenzgesetz verpflichtet Behörden bisher geheime Verträge,
          Protokolle des Senats, interne Gutachten und vieles mehr zu
          veröffentlichen. Die Verwaltung muss diese Informationen kostenlos
          online bereitstellen. Dadurch können Bürgerinnen, Journalisten und
          Initiativen, frühzeitig Einblick in das Handeln von Politik &
          Verwaltung erhalten und aktiv werden.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="jumbotron fond__grey-bright">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1>Was passiert</h1>
      </div>
    </div>
    <div class="row features-block">
      <div class="col-lg-12">
        <div
          id="vertical-timeline"
          class="vertical-container light-timeline center-orientation"
        >
          {% for steps in site.data.index.steps %} {% assign loopindex =
          forloop.index | modulo: 2 %}
          <div class="vertical-timeline-block">
            <div class="vertical-timeline-icon navy-bg wow rotateIn">
              <i class="fa {{ steps.icon }}"></i>
            </div>
            <div
              class="vertical-timeline-content wow {% if loopindex == 1 %} rotateInUpRight {% else %} rotateInUpLeft {% endif %}"
            >
              <h2>
                <span data-i18n="steps.{{ steps.name.i18n }}"
                  >{{ steps.name.detail }}</span
                >
              </h2>
              <p>
                <span data-i18n="steps.{{ steps.desc.i18n }}"
                  >{{ steps.desc.detail }}
                </span>
              </p>
              <span class="vertical-date"
                ><span data-i18n="steps.{{ steps.date.i18n }}">
                  {{ steps.date.detail }}
                </span>
                <br />
                <small
                  ><span data-i18n="steps.{{ steps.job.i18n }}"
                    >{{ steps.job.detail }}</span
                  ></small
                >
              </span>
            </div>
          </div>

          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="jumbotron fond__white">
  <div class="container">
    <div class="row logo-section">
      <div class="col-lg-12 text-center">
        <h1>Eine Initiative von</h1>
      </div>
    </div>
    <div class="row ">
      <div class="col-lg-12 ">
        <div
          class="col-xs-12 col-lg-offset-4 col-sm-5 col-md-5 col-lg-5 justify-content-center mb-5"
        >
          <img
            class="img-responsive"
            src="/static/img/OKFN.svg"
            alt="Logo OKFDE"
          />
        </div>
      </div>
    </div>
    <div class="row logo-section">
      <div class="col-lg-12 text-center">
        <h1>gemeinsam mit</h1>
      </div>
      <div class="col-lg-10 col-lg-offset-1">
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
          <a href="https://bb.mehr-demokratie.de/"
            ><img
              class="img-responsive"
              src="/static/img/md.jpg"
              alt="Logo Mehr Demokratie"
          /></a>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
          <a href="https://abgeordnetenwatch.de/"
            ><img
              class="img-responsive"
              src="/static/img/aw.svg"
              alt="Logo Abgeordnetenwatch"
          /></a>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
          <a href="https://www.wikimedia.de/"
            ><img
              class="img-responsive"
              src="/static/img/wmde-logo.png"
              alt="Logo Wikimedia"
          /></a>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
          <a href="https://digitalegesellschaft.de"
            ><img
              class="img-responsive"
              src="/static/img/digiges.jpg"
              alt="Logo Digitale Gesellschaft"
          /></a>
        </div>
      </div>
      <div class="col-lg-10 col-lg-offset-1">
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
          <a href="https://netzwerkrecherche.org/"
            ><img
              class="img-responsive"
              src="/static/img/nr.png"
              alt="Logo Netzwerk Recherche"
          /></a>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
          <a href="https://www.ccc.de/"
            ><img
              class="img-responsive"
              src="/static/img/CCC.svg"
              alt="Logo CCC"
          /></a>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
          <a href="https://dgif.de/index.php"
            ><img
              class="img-responsive"
              src="/static/img/dgif.jpg"
              alt="Logo DGIF"
          /></a>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
          <a href="https://www.openpetition.de/"
            ><img
              class="img-responsive"
              src="/static/img/openpetition-logo.svg"
              alt="Logo Open Petition"
          /></a>
        </div>
      </div>
    </div>
  </div>
</div>

<!--
<div class="fond__white partner">
   <div class="container">
      <div class="row text-center">
         <div class="col-lg-10 col-lg-offset-2">
            <ul class="clearfix">
               <li>
                  <a href="http://www.okfn.de/"><img class="okfn-logo img-responsive" src="/static/img/OKFN.png" alt="OKFN Logo" /></a>
                </li>
                <li>
                  <a href="https://datenschule.de/"><img class="cfa-logo img-responsive" width="300px" src="/static/img/datenschule_logo.png" alt="Datenschule" /></a>
                </li>
                <li>
                  <img class="google-logo img-responsive" src="/static/img/google.png" alt="Google Logo" />
                </li>
            </ul>
         </div>
      </div>
   </div>
</div>
-->

<!-- Newsletter -->
{% include newsletter-form.html %}
