<div class="event-wrapper fond__white clearfix">
  <div class="post-header clearfix">





    <h1 class="post-title" ><a href="{{ page.url }}">{{ page.title }}</a></h1>
    <div class="post-meta">
 <section id="one">
  <div class="inner">
    <header class="major">
      <h1>{{ page.title }}</h1>
    </header>
    {% if page.image %}<span class="image main"><img src="{{ site.baseurl }}/{{ page.image }}" alt="" /></span>{% endif %}
    <p>{{ content }}</p>
  </div>
</section>




    </div>
  </div>
