$green: #0f7676;
$green2: #03a678;
$mint: #b9f817;
$cyan: #01fcff;
$grey-bright: #f2f2f2;
$grey-mid: #e7e7e7;
$grey-dark: #999999;
$black: #000000;
$white: #ffffff;
$dark-red: #c53c3c;
$orange: #ffc349;
$yellow: #ffe600;

.fond__yellow {
  background-color: $yellow;
}
.fond__dark-red {
  background-color: $dark-red;
}
.fond__cyan {
  background-color: $cyan;
}
.fond__green {
  background-color: $green;
}
.fond__grey-bright {
  background-color: $grey-bright;
}
.fond__grey-dark {
  background-color: $grey-dark;
}

.fond__white {
  background-color: $white;
}

.fond__grey {
  background-color: $grey-bright;
}
.fond__grey-mid {
  background-color: $grey-mid;
}
.fond__white {
  background-color: $white;
}
.fond__orange {
  background-color: $orange;
}

.text__black {
  color: black;
}
.text__white {
  color: white;
}

body {
}

.navbar {
  @extend .fond__white;
}

.nav > li > a {
  padding: 0;
}

.nav-pills {
  li {
    a {
      border-radius: 0;
    }
    a:hover {
      background-color: transparent;
    }
  }
}

/*===============================
=            Helpers            =
===============================*/

@mixin border-radius($radius) {
  border-radius: $radius;
}

@mixin inline-background($color) {
  box-shadow: 10px 0 0 $color, -10px 0 0 $color;
  display: inline;
  margin: 0 10px;
}

/*-----  End of Helpers  ------*/

/*==================================
=            Typography            =
==================================*/

$body-font-size: 18px;

body {
  font-size: $body-font-size;
  line-height: 1.6em;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
}

h4,
.h4 {
  font-family: Helvetica, Arial, sans-serif;
  margin: 50px 0 0px 0;
  line-height: 28px;
  font-size: 24px;
  color: black;
}

a,
a:hover,
a:visited,
a:active {
  color: black;
  text-decoration: none;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  a {
    text-decoration: none;
  }
}

label {
  font-weight: normal;
}

#animation-wrapper h1 {
  @extend .text__white;
  line-height: 1.4em;
  margin: 15px 0;
  letter-spacing: -0.05em;
  text-transform: inherit;
  font-size: 22px;
}

.jumbotron {
  font-size: 22px;
  margin-bottom: 0;

  p {
    margin: 28px 0;
    font-weight: 600;
    line-height: 1.5em;
    font-family: Helvetica, Arial, sans-serif;
  }
}

.meta-links-foot {
  text-transform: uppercase;
  a,
  a:hover,
  a:visited,
  a:active {
    color: $black;
    text-decoration: none;
  }
}

.foot-note {
  color: $grey-dark;
  font-size: 16px;
}

.page-title {
  font-size: 63px;
  margin: 60px 0;
}

/*-----  End of Typography  ------*/

/*================================
=  Elements & Modifiers          =
================================*/
.jumbotron {
  padding: 15px;
}

.btn {
  border-radius: 0;
  border: 0;
}

/*============================
=   Home
============================*/

.mobile-menu-toggle {
  right: 15px;
  top: 30px;
}

.navbar {
  border-radius: 0;
  margin-bottom: 0;
}

.body-wrap {
  overflow: hidden;
  width: 100%;
  position: relative;
}

// burger itself + margin around
$keep: 44 + 2 * 15px;

.nav-wrap {
  position: absolute;
  top: 0;
  right: calc(-100% + #{$keep});
  width: calc(100% - #{$keep});
  height: 100%;
}

.page-wrap {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  position: relative;
}

.mobile-menu-open .page-wrap {
  -webkit-transform: translateX(calc(-100% + #{$keep}));
  transform: translateX(calc(-100% + #{$keep}));
}

.nav-meta li {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 20px;
  &:last-child {
    margin-right: 0;
  }
}

.nav-meta > li > a {
  height: 44px;
  line-height: 42px;
  color: black;
  padding: 0 10px;
  border: 2px solid black;
  white-space: nowrap;
}

.nav-meta > li > a:hover,
.nav-meta > li > a:focus {
  color: black;
  background: transparent;
}

.nav-meta > li.nav-meta-social {
  display: inline-block;
  width: inherit;
}

.nav-meta > li.nav-meta-social > a {
  background: black;
  color: white;
  width: 44px;
  padding: 0;
}

.nav-meta > li.nav-meta-social > a:hover {
  background: black;
  color: $white;
}

.main-nav-wrapper {
  .nav-pills > li {
    border: 2px solid transparent;
    padding-top: 25px;
    a {
      padding: 0 5px;
      color: $black;
    }
  }

  .nav-pills .current {
    border: 2px solid black;
    display: inline-block;
  }
}

.nav-pills > li {
  float: none;
}

.marker {
  background-color: $white;
  color: $white;
}

.hero-container {
  position: relative;
  a {
    text-decoration: none;
  }
}

#animation-wrapper,
.hero-overlay {
  font-family: Helvetica, Arial, sans-serif;
  padding: 5% 0;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
}

.hero-overlay-ziele {
  //background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0;
  text-align: left;
  width: 100%;
  height: 100%;

  font-family: "Fira Sans", sans-serif;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;

  h1 {
    font-size: 50px;
    font-family: "Fira Sans";
    letter-spacing: 2px;
    margin-top: -10%;
    color: $black;
  }
}

/* Newsletter Signup */

.form-control {
  height: 40px;
  padding: 6px 12px;
  color: $black;
  border: none;
  border-radius: 0;
}

.form-group .prettyCheckbox {
  margin-left: 10px;
}

.form-group-newsletter {
  div {
    padding: 0;
  }
}

/* Newsletter Signup END */

.icon-before:before {
  display: inline-block;
  content: "";
  margin-right: 10px;
}

.event-time {
  &:before {
    background-image: url("../static/img/time.svg");
    height: 20px;
    width: 18px;
  }
}

.event-location {
  &:before {
    background-image: url("../static/img/place.svg");
    height: 21px;
    width: 17px;
  }
}

.event-cta {
  display: inline-block;
  padding: 0 10px;
  a,
  a:hover,
  a:visited,
  a:active {
    color: $white;
    text-decoration: none;
  }
}

.partner {
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  li {
    padding: 28px 0;
  }

  img {
    height: auto;
    margin: 0 auto;
    margin-bottom: 50px;
    width: inherit;
    width: 80%;
  }
}

/*-----  End of Home  ------*/

/*================================
=            Lab Page            =
================================*/
.jumbotron h1 {
  @extend .text__black;
}

.h4c-teaser {
  max-width: 30%;
  height: auto;
  display: block;
  float: left;
  margin: 5px 20px 10px 0;
}

.lab-leads {
  li {
    padding: 0;
  }
}

.packery-container {
  visibility: hidden;
}

.packery-item-gutter {
  width: 5%;
}

.packery-item {
  width: 100%;
}

.project-image {
  margin-bottom: 28px;
}

.project-link-list,
.post-links,
.project-links {
  margin-bottom: 26px;
}

.project-collaborators {
  &:before {
    background-image: url("../static/img/collaborators.svg");
    height: 23px;
    width: 21px;
  }
}

.project-collaborators-list {
  margin-top: 18px;
}

.members {
  line-height: 26px;
  font-size: 16px;

  .member {
    margin-bottom: 26px;
    min-width: 100%;
    display: block;
    float: left;
  }

  .member-avatar {
    margin-right: 20px;
    width: 80px;
    height: 80px;
  }
}

/*-----  End of Lab Page  ------*/

/*===============================
=            Projects           =
===============================*/

.project-teaser-slim .image-crop {
  position: relative;

  .project-image {
    width: 100%;
  }
}

.project-description {
  p {
    margin: 0 0 10px 0;
    &:last-child {
      margin-bottom: 26px;
    }
  }
}

.project-labs-box {
  float: none;
  width: 100%;
  .icon-before:before {
    margin-right: 0;
  }
  .m-r-2 {
    margin-right: 0;
  }
}

.project-status-box {
  margin-top: 8px;
  float: none;
  width: 100%;
  text-align: left;
}

.loading {
  text-align: center;
  i {
    display: block;
    font-size: 72px;
  }
}

/*-----  End of Projects  ------*/

/*============================
=            Blog            =
============================*/

.blog-header {
  &:after {
    content: "A";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
  }
}

.blog-post-teaser {
  &:first-child {
    margin-top: 0;
  }

  img {
    max-width: 80%;
    margin: 30px auto;
  }

  a {
    text-decoration: none !important;
  }

  overflow: hidden;
}

.blog-sidebar {
  img {
    margin: 26px 0;
  }

  .blog-sidebar-nl-signup h3,
  .blog-sidebar-nl-signup p {
    text-align: left;
  }

  .rss-feed {
    i {
      font-size: 26px;
    }

    h3 {
      display: inline-block;
    }
  }
}

.blog-page-nav {
  margin-top: 26px;

  .newer {
    float: left;
  }

  .older {
    float: right;
  }
}

#infscr-loading {
  padding: 15px 0;
  text-align: center;
  img {
    display: none;
  }
}

.post {
  .event-wrapper {
    &:first-child {
      margin-top: 0;
    }
  }

  h2,
  h3 {
    font-size: 18px;
  }
}

.post-links {
  margin: 26px 0 0 0;
  a {
    text-decoration: underline;
  }
}

.post-title {
  margin-top: 0;
}

.post-meta {
  font-size: 14px;
  line-height: 16px;
  color: gray;

  a {
    color: gray;
  }
}

.post-description {
  img {
    margin: 30px auto;
    max-width: 70%;
    height: auto;
    display: block;
  }

  iframe {
    margin: 30px auto;
    display: block;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.post-img-caption {
  display: block;
  text-align: center;
  margin-top: -30px;
  color: gray;
  margin-bottom: 10px;
}

.post-page-nav {
  text-align: center !important;
  margin-top: 26px;

  a:hover {
    text-decoration: none;
  }
}

.twitter-feed {
  .twitter-head {
    h3 {
      float: left;
    }

    .follow-twitter {
      float: right;
      margin-top: 24px;
    }
  }

  .event-wrapper {
    margin-top: 18px;
  }
}

/*-----  End of Blog  ------*/

/*==============================
=            Presse            =
==============================*/

.press-clippings {
  margin-top: 50px;
  padding: 0;
  list-style-type: none;

  li {
    margin-bottom: 40px;
  }

  .press-clipping-meta {
    margin-bottom: 0;
  }
}

/*-----  End of Presse  ------*/

.introtext {
  font-size: 20px;
}

/*  MENUEEE STAAART  */

.mobile-menu-toggle {
  display: none;
}

.nav-meta {
  text-align: right;
}

.nav-wrap {
  top: 40px;
  right: 18px;
  z-index: 1001;
  width: auto;
  height: auto;
  padding: 0;
}

.page-wrap {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.mobile-menu-open .page-wrap {
  -webkit-transform: translateX(calc(-100% + #{$keep}));
  transform: translateX(calc(-100% + #{$keep}));
}

.main-nav-wrapper {
  .nav-pills > li {
    a {
    }
  }

  .nav-pills .current {
    display: block;
  }
}

.nav-pills > li {
  float: right;
}

#animation-wrapper {
  background: transparent;
}

.packery-item {
  width: 47.5%;
}

.members .member {
  min-width: 33%;
}

.sign-in-form {
  form {
    width: 100%;
  }

  fieldset {
    width: 100%;
  }

  input[type="text"],
  input[type="email"] {
    background-color: $grey-bright;
    //	border: 1px solid $grey-bright;
    //	box-shadow: none;
    //	outline: none;
    transition: border 0.2s;
    &:focus {
      //	border: 1px solid $black;
    }
  }

  input[type="checkbox"] {
    display: inline-block;
    width: initial;
    box-shadow: none;
  }

  .sign-in-form-wrapper {
  }

  .sign-in-form-section {
    padding: 80px 0;
  }

  .sign-in-form-section .container {
    display: flex;
    flex-flow: row wrap;
  }

  .sign-in-form-section[data-toggle-target] {
    display: none;
    &.is-visible {
      display: block;
    }
  }

  .sign-in-form-section p {
    display: block;
    width: 100%;
  }

  .sign-in-form-column {
    flex: 1;
    padding: 0 20px;
  }

  .fond__green {
    .sign-in-form-input {
      max-width: 500px;
      display: block;
      margin: 0 auto;
    }
  }

  .sign-in-form-input:not(:first-child) {
    margin-top: 40px;
  }

  label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
  }

  input {
    input[type="radio"],
    input[type="checkbox"] {
      margin: 4px 10px 0 0;
      margin-top: 1px \9;
      line-height: normal;
    }
  }

  #attendance {
    display: flex;
    flex-flow: row nowrap;
    > * {
      flex: 1;
      margin-top: 0;
    }
  }

  #attendance label {
    width: 100%;
  }

  ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    padding: 0 5px;
  }

  ::-moz-placeholder {
    /* Firefox 19+ */
    padding: 0 5px;
  }

  :-ms-input-placeholder {
    /* IE 10+ */
    padding: 0 5px;
  }

  :-moz-placeholder {
    /* Firefox 18- */
    padding: 0 5px;
  }
}

.center {
  margin: 0 auto;
  text-align: center;
}

.label-center {
  width: 100%;
  text-align: center;
}

.speaker-margin {
  margin: 20px 0;
}

.slogan {
  h2 {
    margin: -20px 20px 30px 20px;
    text-transform: none;
    max-width: 400px;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
  }
}

.img-center {
  margin: 0 auto;
  display: block;
}

.attendance {
  padding: 30px 0;
  margin: 10px auto;

  h3 {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 0 0 20px 0;
  }
}

.container-form {
  margin-top: 80px;
}

.container-margin {
  padding: 0 20px;
}

.vertical-container {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}

.vertical-container::after {
  content: "";
  display: table;
  clear: both;
}

#vertical-timeline {
  position: relative;
  padding: 0;
  margin-top: 2em;
  margin-bottom: 2em;
}

#vertical-timeline::before {
  content: "";
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #f1f1f1;
}

.vertical-timeline-content .btn {
  float: right;
}

#vertical-timeline.light-timeline:before {
  background: #e7eaec;
}

.dark-timeline .vertical-timeline-content:before {
  border-color: transparent #f5f5f5 transparent transparent;
}

.dark-timeline.center-orientation .vertical-timeline-content:before {
  border-color: transparent transparent transparent #f5f5f5;
}

.dark-timeline
  .vertical-timeline-block:nth-child(2n)
  .vertical-timeline-content:before,
.dark-timeline.center-orientation
  .vertical-timeline-block:nth-child(2n)
  .vertical-timeline-content:before {
  border-color: transparent #f5f5f5 transparent transparent;
}

.dark-timeline .vertical-timeline-content,
.dark-timeline.center-orientation .vertical-timeline-content {
  background: #f5f5f5;
}

@media only screen and (min-width: 1170px) {
  #vertical-timeline.center-orientation {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  #vertical-timeline.center-orientation:before {
    left: 50%;
    margin-left: -2px;
  }
}

@media only screen and (max-width: 1170px) {
  .center-orientation.dark-timeline .vertical-timeline-content:before {
    border-color: transparent #f5f5f5 transparent transparent;
  }
}

.vertical-timeline-block {
  position: relative;
  margin: 2em 0;
}

.vertical-timeline-block:after {
  content: "";
  display: table;
  clear: both;
}

.vertical-timeline-block:first-child {
  margin-top: 0;
}

.vertical-timeline-block:last-child {
  margin-bottom: 0;
}

@media only screen and (min-width: 1170px) {
  .center-orientation .vertical-timeline-block {
    margin: 4em 0;
  }
  .center-orientation .vertical-timeline-block:first-child {
    margin-top: 0;
  }
  .center-orientation .vertical-timeline-block:last-child {
    margin-bottom: 0;
  }
}

.vertical-timeline-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 16px;
  border: 3px solid #f1f1f1;
}

.vertical-timeline-icon i {
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -9px;
}

@media only screen and (min-width: 1170px) {
  .center-orientation .vertical-timeline-icon {
    width: 50px;
    height: 50px;
    left: 50%;
    margin-left: -25px;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    font-size: 19px;
  }
  .center-orientation .vertical-timeline-icon i {
    margin-left: -12px;
    margin-top: -10px;
  }
  .center-orientation .cssanimations .vertical-timeline-icon.is-hidden {
    visibility: hidden;
  }
}

.vertical-timeline-content {
  position: relative;
  margin-left: 60px;
  background: #fff;
  border-radius: 0.25em;
  padding: 1em;
}

.vertical-timeline-content:after {
  content: "";
  display: table;
  clear: both;
}

.vertical-timeline-content h2 {
  font-weight: 400;
  letter-spacing: 0px;
  margin-top: 4px;
}

.vertical-timeline-content p {
  font-size: 15px;
  line-height: 25px;
  margin: 1em 0;
  line-height: 1.6;
}

.vertical-timeline-content .vertical-date {
  float: left;
  font-weight: 500;
  max-width: 250px;
  color: black;
  line-height: 22px;
}

.vertical-date small {
  color: black;
  font-weight: 500;
}

.vertical-timeline-content::before {
  content: "";
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid #fff;
}

@media only screen and (min-width: 768px) {
  .vertical-timeline-content h2 {
    font-size: 22px;
  }
  .vertical-timeline-content p {
    font-size: 15px;
    line-height: 25px;
    font-family: Helvetica, Arial, sans-serif;
    color: #5b5b5b;
  }
}

@media only screen and (min-width: 1170px) {
  .center-orientation .vertical-timeline-content {
    margin-left: 0;
    padding: 1.6em;
    width: 45%;
  }
  .center-orientation .vertical-timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent transparent transparent #fff;
  }
  .center-orientation .vertical-timeline-content .btn {
    float: left;
  }
  .center-orientation
    .vertical-timeline-block:nth-child(even)
    .vertical-timeline-content,
  .center-orientation
    .vertical-timeline-block:nth-child(even)
    .vertical-timeline-content
    .btn {
    float: right;
  }
  .center-orientation .vertical-timeline-content .vertical-date {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 2px;
    font-size: 18px;
  }
  .center-orientation
    .vertical-timeline-block:nth-child(even)
    .vertical-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent #fff transparent transparent;
  }
  .center-orientation
    .vertical-timeline-block:nth-child(even)
    .vertical-timeline-content
    .vertical-date {
    left: auto;
    right: 122%;
    text-align: right;
  }
  .center-orientation .cssanimations .vertical-timeline-content.is-hidden {
    visibility: hidden;
  }
}

.top-bar-section .has-dropdown {
  position: relative;
}

.top-bar-section .has-dropdown > a:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: inset 5px;
  border-color: transparent transparent transparent rgba(51, 77, 92, 0.4);
  border-left-style: solid;
  margin-right: 1.04167rem;
  margin-top: -4.5px;
  position: absolute;
  top: 50%;
  right: 0;
}

.top-bar-section .has-dropdown.moved {
  position: static;
}

.top-bar-section .has-dropdown.moved > .dropdown {
  display: block;
  position: static !important;
  height: auto;
  width: auto;
  overflow: visible;
  clip: auto;
  position: absolute !important;
  width: 100%;
}

.top-bar-section .has-dropdown.moved > a:after {
  display: none;
}

.top-bar-section .dropdown {
  padding: 0;
  position: absolute;
  left: 100%;
  top: 0;
  z-index: 99;
  display: block;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.top-bar-section .dropdown li {
  width: 100%;
  height: auto;
}

.top-bar-section .dropdown li a {
  font-weight: normal;
  padding: 8px 1.04167rem;
}

.top-bar-section .dropdown li a.parent-link {
  font-weight: normal;
}

.top-bar-section .dropdown li.title h5,
.top-bar-section .dropdown li.parent-link {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.125rem;
}

.top-bar-section .dropdown li.title h5 a,
.top-bar-section .dropdown li.parent-link a {
  color: #000;
  display: block;
}

.top-bar-section .dropdown li.title h5 a:hover,
.top-bar-section .dropdown li.parent-link a:hover {
  background: none;
}

.top-bar-section .dropdown li.has-form {
  padding: 8px 1.04167rem;
}

.top-bar-section .dropdown li .button,
.top-bar-section .dropdown li button {
  top: auto;
}

.top-bar-section .dropdown label {
  padding: 8px 1.04167rem 2px;
  margin-bottom: 0;
  text-transform: uppercase;
  color: #45b29d;
  font-weight: bold;
  font-size: 0.625rem;
}

.js-generated {
  display: block;
}

ul {
  list-style: none;
  padding-left: 50px;
  margin: 0;
}

.glyphicon.fa {
  font-family: FontAwesome;
}

@import "libs/vars";
@import "libs/functions";
@import "libs/mixins";
@import "libs/skel";

.tiles {
  @include vendor("display", "flex");
  @include vendor("flex-wrap", "wrap");
  border-top: 0 !important;

  & + * {
    border-top: 0 !important;
  }

  article {
    @include vendor("align-items", "center");
    @include vendor("display", "flex");
    @include vendor(
      "transition",
      (
        "transform 0.25s ease",
        "opacity 0.25s ease",
        "filter 1s ease",
        "-webkit-filter 1s ease"
      )
    );
    @include padding(4em, 4em);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: default;
    height: 40vh;
    max-height: 40em;
    min-height: 23em;
    overflow: hidden;
    position: relative;
    width: 40%;

    .image {
      display: none;
    }

    header {
      position: relative;
      z-index: 3;
    }

    h3 {
      font-size: 1.75em;

      a {
        &:hover {
          color: inherit !important;
        }
      }
    }

    .link.primary {
      border: 0;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 4;
    }

    &:before {
      @include vendor("transition", "opacity 0.5s ease");
      bottom: 0;
      content: "";
      display: block;
      height: 100%;
      left: 0;
      opacity: 0.85;
      position: absolute;
      width: 100%;
      z-index: 2;
    }

    &:after {
      background-color: transparentize(_palette(bg), 0.75);
      content: "";
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 1;
    }

    &:hover {
      &:before {
        opacity: 0;
      }
    }

    &.is-transitioning {
      @include vendor("transform", "scale(0.95)");
      @include vendor("filter", "blur(0.5em)");
      opacity: 0;
    }

    &:nth-child(4n - 1),
    &:nth-child(4n - 2) {
      width: 60%;
    }

    &:nth-child(6n - 5) {
      &:before {
        background-color: _palette(accent1);
      }
    }

    &:nth-child(6n - 4) {
      &:before {
        background-color: _palette(accent2);
      }
    }

    &:nth-child(6n - 3) {
      &:before {
        background-color: _palette(accent3);
      }
    }

    &:nth-child(6n - 2) {
      &:before {
        background-color: _palette(accent4);
      }
    }

    &:nth-child(6n - 1) {
      &:before {
        background-color: _palette(accent5);
      }
    }

    &:nth-child(6n) {
      &:before {
        background-color: _palette(accent6);
      }
    }
  }

  @include breakpoint(large) {
    article {
      @include padding(4em, 3em);
      height: 30vh;
      max-height: 30em;
      min-height: 20em;
    }
  }

  @include breakpoint(medium) {
    article {
      width: 50% !important;
    }
  }

  @include breakpoint(small) {
    article {
      @include padding(3em, 1.5em);
      height: 16em;
      max-height: none;
      min-height: 0;

      h3 {
        font-size: 1.5em;
      }
    }
  }

  @include breakpoint(xsmall) {
    display: block;

    article {
      height: 20em;
      width: 100% !important;
    }
  }
}

.logo-section {
  margin-bottom: 2rem 0;
}
